*{
  user-select: none;
}

body {
	margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden; 
  isolation: isolate;
}

.App {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  text-align: center;
  flex-direction: column;
  background: #000000;
  color: white;
  font-family: Muller;
  font-size: 2.2vh ;
}

.App p{
 margin: 0;
}

.info {
  width: 100%;
  height: 7%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info img{
  width: 100%;
  height: 100%;
}

.Txt{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 2.2vh;
}
.Txt p{
  margin-top: 0.6vh;
}

.Txt img {
  height: 40%;
  width: auto;
  margin-right: 1vh;
}

.main {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;  
}
.main img{height: 70%;}

.MainCoin{
  height: 8%;
  width: 100%;
  font-size: 4vh;
}

.Menu {
  height: 55%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.MenuBorder{
  background: #1A1A1A;
  border-radius: 2vh;
  width: 90%;
  height: 27%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.MenuBorder p{margin-left: 2vh;}
#up{margin-top: 2.5vh; font-size: 2.1vh;}
#dp{margin-bottom: 0.8vh; font-size: 1.8vh;}

.MenuBorder button {
  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vh;
  height: 3.3vh;
  width: 5vh;
  font-size: 2vh;
}
.MenuBtn{
  display: flex;
  flex-direction: row;
  height: 30%;
  align-items: center;
  margin-bottom: 2vh;
  color: #9F9F9F;
}
.MenuBtn img {height:100%;margin-left: 2vh;}
.MenuBtn p {margin-top: 0.8vh;}

.Reward{
  height: 12%;
  width: 90%;
  display: flex;
  align-items: end;
  justify-content: start;
  font-size: 2.1vh;
  font-weight: bold;
}

.Tasks{
  height: 61%;
  width: 90%;
  display: flex;
  flex-direction: column;
  font-size: 1.8vh;
}

.TS{
  width: 100%;
  height: 8.4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tsPhoto img{
  height: 60%;
}

.tsPhoto{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tsPhoto p{
  font-size: 1.8vh;
}
#txt{
  margin-left: 1.2vh;
}

.LowerBTN{
  width: 92%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.LowerBTN img{
  height: 50%;
}

.BTN {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BTNLow{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  background: #0F0F0F;
  z-index: 1001;
  
}

@font-face {
  font-family: Muller;
  src: url(/src/fonts/MullerRegular.ttf) format('truetype');
}

@font-face {
  font-family: MullerLight;
  src: url(/src/fonts/MullerLight.ttf) format('truetype');
}

@font-face {
  font-family: MullerMedium;
  src: url(/src/fonts/MullerMedium.ttf) format('truetype');
}

@keyframes fade-out  {
  from {opacity: 1;}
  to   {opacity: 0;}
}

@keyframes fade-in {
  from {opacity: 0;}
  to   {opacity: 1;}
}

button{
  border: none;
  color: #000000;
}

.blk{
  height: 100%;
  width: 100%;
  position: absolute;
  background: #000000;
  z-index: 1000;
}

#galo4ka{
  height: 2.5vh;
  margin-left: 1vh;
}

#plus{
  margin: 0;
  display: inline;
}

@media (orientation: landscape) {
  .BTNLow {
    height: 20%;
  }

  .info {
    height: 6%;
  }

  .Menu{
    overflow: scroll;
  }

  .Tasks{
    height: 20vh;
    font-size: 3vh;
  }
  
  .MenuBorder{
    height: 20vh;
    font-size: 4vh;
  }

  #up{ font-size: 3vh;}
  #dp{ font-size: 2vh;}

  .Txt{
    font-size: 2.5vh;
  }

  .Fr_Window {
    height: 80%;
  }

}

.img-dark {
  filter: brightness(40%);
}