.Lb_Window {
    width: 100%;
    height: 90%;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    color: white;
    background: #000000;
    z-index: 1003;
    overflow: scroll;
    animation: fade-in 0.3s forwards;
    overflow: scroll;
}

.Lb_Window.fade-out {
    animation: fade-out 0.3s forwards;
}


.lb_Info{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5vh;
}

.Lb_Menu{
    width: 88%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.Lb_inside{
    width: 100%;
    height: 12%;
    background: rgba(208, 108, 36, 55% );
    border-radius: 1.8vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-size: 2.5vh;
    margin-top: 2vh;
}

.LbPhoto{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.LbPhoto img{
    height: 65%;
    margin: 2vh;
}

.LbPhoto p{
    font-size: 2.2vh;
}
#number{margin: 2vh;}

#LbColor{
    color: rgba(255, 255, 255, 65% );
    margin-top: 1vh;
    display: inline-block;
    font-size: 2.2vh;
}

.LbBorder{
    background: #1A1A1A;
    border-radius: 2vh;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: start;
}

.Lb_Logo{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.5vh;
}
.Lb_Logo img{
    height:  70%;
}

.Lb_Text{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2.5vw;
}

.Lb_Liders{
    width: 100%;
    height: 8%;
    display: flex;
    align-items: end;
    justify-content: start;
    font-size: 2.2vh;
    margin-bottom: 0.5vh;
}

.Lb_list{
    width: 100%;
    height: 56%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Lb_Lider{
    width: 95%;
    height: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.LbPhotos{
    height: 100%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.LbPhotos img{
    height: 60%;
}

.tt{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5vh ;
}

#medal img {
    height: 35%;
}
.LbPhotos p{
    font-size: 1.8vh;
}

#LbColorr{
    color: rgba(255, 255, 255, 65% );
    margin-top: 0.5vh;
    display: inline-block;
    font-size: 1.8vh;
}