.Lb_Window {
    width: 100%;
    height: 90%;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    color: white;
    background: #000000;
    z-index: 1001;
    overflow: scroll;
    animation: fade-in 0.3s forwards;
}

.Lb_Window.fade-out {
    animation: fade-out 0.3s forwards;
}


.lb_Info{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5vh;
}

.Lb_av{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Lb_inside{
    width: 90%;
    height: 100%;
    background: rgba(208, 108, 36, 55% );
    border-radius: 1.8vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-size: 2.5vh;
}

.LbPhoto{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.LbPhoto img{
    height: 65%;
    margin: 2vh;
}

.LbPhoto p{
    font-size: 2.2vh;
}
#number{margin: 2vh;}

#LbColor{
    color: rgba(255, 255, 255, 65% );
    margin-top: 1vh;
    display: inline-block;
    font-size: 2.2vh;
}
