.P2E_Window{
    width: 100%;
    height: 90%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    color: white;
    background: url("../IMG/ComingSoon/background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-size: 5vh;
    z-index: 1001;
    animation: fade-in 0.3s forwards;
}

.P2E_Window img{
    height: 40%;
}

@media (orientation: landscape) {
    .P2E_Window {
      height: 80%;
    }
}
