.EarnClose{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 12%;
    width: 100%;
    bottom: 0;
}

.EarnClose button{
    width: 90%;
    height: 70%;
    border-radius: 4vh;
    font: 3.5vh MullerMedium;
    font-weight: bold;
    padding-top: 0.5vh ;
    color: black;
    background: red;
    box-shadow: 0 0 0 0.8vh #5c1616;
}