.earn {
    position: fixed;
    width: 100%;
    height: 88%;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    background: linear-gradient(135deg, #1e1e1e, #333);
    color: white;
    background: #3E2C56;
    text-align: center;
    z-index: 1000;
    border-radius: 60px 60px 0% 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.zagolovok{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    width: 100%;
    font-size: 48px;
    color: #ff9a00;
}

.EarnBorder{
    background:#060927;
    border-radius: 10px;
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.EarnMenu{
    height: 95%;
    width: 95%;
    background: orange;
    border-radius: 10px;
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    overflow: scroll;
}

.Zadanie{
    height: 25%;
    width: 95%;
    background: #060927;
    border-radius: 10px;
    margin: 10px;
    background: linear-gradient(135deg, #3E2C56, #060927);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.Zadanie button {
    background: linear-gradient(135deg,#060927, #3E2C56);
    height: 20%;
    width: 90%;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    color: white;
    border: 1px solid white;

}

.zg{
    height: 16%;
    width: 100%;
}

.Zadanie h1{
    font-size: 24px;
    margin: 0;
    color: orange;
}

.Zadanie p{
    margin: 0;
}