*{
    user-select: none;
}

.ref {
    width: 100%;
    height: 78%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    border-radius: 3vh 3vh 0 0;
    bottom: 0;
    color: white;
    background: #151515;
}

.BoxBorder{
    width: 90%;
    height: 18%;
    border-radius: 2vh;
    box-shadow:inset 0 0 0 0.1vh #454545;
    background:#2D2D2D;
    position: relative;
    display: flex;
    flex-direction: row;
    top: 2vh;
}

.Box{
    width: 28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vh;
    box-shadow:inset 0 0 0 0.1vh #454545,
                    0 0 3px 0 #151515;
}

.Box img{
    filter: drop-shadow(2px 2px 3px rgba(0,0,0,50%));
}

.BoxTitle{
    width: 72%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.BoxUp{
    width: 100%;
    height: 35%;
    display: flex;
    align-items: end;
    justify-content: center;
    
}

.BoxUp p{
    margin: 0;
    font-size: 2vh;
    font-family: MullerMedium;
}

.BoxDown{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
}

.BoxLeft{
    width: 18%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.BoxRight{
    width: 82%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.BoxRight p{
    margin: 0;
    font-size: 2vh;
    font-family: Muller;
}

.mysteryBox{color: #CF2395;}

.FrandsBorder{
    border-radius: 2vh 2vh 0 0 ;
    box-shadow:inset 0 0 0 0.1vh #454545;
    background:#2D2D2D;
    height: 76%;
    width: 96%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.FrendsInfo{
    height: 10%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.FrendsInfo p{
    margin: 0;
    font-size: 2vh;
    font-family: MullerMedium;
}

.FrendsMenu{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    box-sizing: border-box;
}

.Frends{
    height: 15%;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1.5vh;
}

.Frends img{
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,30%));
}

.FrendsIcon{
    height: 100%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FrendsName{
    height: 100%;
    width: 78%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
}

.FrendsName p{
    margin: 0;
    font-family: Muller;
    font-size: 2vh;
}

#Friends_rank{font-size: 1.5vh;}

#Beginner_rank{color: #F2FA82;}

#Advanced_rank{color: #F08B15;}

#Intermediate_rank{color: #FFB803;}

#Expert_rank{color: #E32121;}

#Master_rank{color: #A513FF;}

.thripleBTN{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height: 12%;
    width: 100%;
    bottom: 0;
}

.go {
    width: 18%;
    height: 70%;
    border-radius: 4vh;
    box-shadow: 0 0 0 0.8vh #83561f; 
    background: #f18b10;
    font: 3.5vh MullerMedium;
    font-weight: bold;
    padding-top: 0.5vh ;
    color: black;
}

#goClose{
    background: red;
    box-shadow: 0 0 0 0.8vh #5c1616;
}

#goInvite {
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 0 ;
}

#goInvite p{
    margin: 0.6vh;
    margin-top: 1.5vh;
}