*{
    user-select: none;
  }

.shop {
    position: fixed;
    width: 100%;
    height: 88%;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    background: linear-gradient(135deg, #1e1e1e, #333);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: white;
    background: #3E2C56;
    text-align: center;
    z-index: 1000;
    border-radius: 60px 60px 0% 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.section{
    background:#060927;
    border-radius: 10px;
    height: 25%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.section-menu {
    background:orange;
    width: 95%;
    border-radius: 10px;
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    height: 70%;  
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;

}

.hz{
    width: 95%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.section-menu p {
    margin: 0px;
    font-size: 18px;
    color: #060927;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

}

button {
    background: linear-gradient(135deg, #ff9a00, #ff6600);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

button:hover {
    background: linear-gradient(135deg, #ff6600, #ff3300);
    transform: translateY(-2px);
}

button:disabled {
    background: #555;
    cursor: not-allowed;
}

.close-button {
    background: linear-gradient(135deg, #ff3300, #ff0000);
    width: 90%;
    height: 80%;
    
}

.close-button:hover {
    background: linear-gradient(135deg, #ff0000, #cc0000);
}

.zagolovok{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8%;
    width: 100%;
    font-size: 48px;
    color: #ff9a00;
}