.shop {
    width: 100%;
    height: 78%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: fixed;
    border-radius: 35px 35px 0 0;
    bottom: 0;
    color: white;
    background: #151515;
}

.section{
    width: 90%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background:#202020;
}

.section-menu {
    width: 90%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: #323232;
    box-shadow: 0 0 15px -2px black;
    font: 1em sans-serif;
    background:#151515;
}

.hz{
    width: 95%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 22px sans-serif;
}

.section-menu p {
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
}

button {border: none;}
/*button {
    width: 90%;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
    background: #f6ff82;
}

button:hover {
    background: linear-gradient(135deg, #ff6600, #ff3300);  
}

button:disabled {
    background: #555;
    cursor: not-allowed;
    color: white;
}

.close-button {
    background: red;
    width: 90%;
    height: 80%;
    border-radius: 30px; 
    box-shadow: 0px 0px 0px 5px #5c1616;
    font: 28px sans-serif;
    font-weight: bold;
}

.close-button:hover {
    background: linear-gradient(135deg, #ff0000, #cc0000);
}
*/
.zagolovok{
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 48px sans-serif;
    color: #f6ff82;
}

.shopMainInfo{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.inform{
    width: 25%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 15px -2px black;
    background: #323232;
}
